# **Name -** Yash Vardhan Sharma
# **Registration Number -** 19BCE1097
# **Faculty -** Prof. Jeganathan L.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

# **1. Download a data set (csv file). Practice all the (30 functions) listed in the 'panda tutorial sheet', which is uploaded in ms-team class-room materials folder.**

In [ ]:
import pandas as pd
import numpy as np

path = "/content/drive/MyDrive/Datasets/anime.csv"
df = pd.read_csv(path)

df.describe

<bound method NDFrame.describe of        anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]>

In [ ]:
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
df.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [ ]:
df.tail()

       anime_id  ... members
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[5 rows x 7 columns]

In [ ]:
df.index

RangeIndex(start=0, stop=12294, step=1)

In [ ]:
df.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

In [ ]:
df.size

86058

In [ ]:
df.shape

(12294, 7)

In [ ]:
df.ndim

2

In [ ]:
df['name']

0                                           Kimi no Na wa.
1                         Fullmetal Alchemist: Brotherhood
2                                                 Gintama°
3                                              Steins;Gate
4                                            Gintama&#039;
                               ...
12289         Toushindai My Lover: Minami tai Mecha-Minami
12290                                          Under World
12291                       Violence Gekiga David no Hoshi
12292    Violence Gekiga Shin David no Hoshi: Inma Dens...
12293                     Yasuji no Pornorama: Yacchimae!!
Name: name, Length: 12294, dtype: object

In [ ]:
df.genre

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [ ]:
df[['name','genre']]

                                                    name                                              genre
0                                         Kimi no Na wa.               Drama, Romance, School, Supernatural
1                       Fullmetal Alchemist: Brotherhood  Action, Adventure, Drama, Fantasy, Magic, Mili...
2                                               Gintama°  Action, Comedy, Historical, Parody, Samurai, S...
3                                            Steins;Gate                                   Sci-Fi, Thriller
4                                          Gintama&#039;  Action, Comedy, Historical, Parody, Samurai, S...
...                                                  ...                                                ...
12289       Toushindai My Lover: Minami tai Mecha-Minami                                             Hentai
12290                                        Under World                                             Hentai
12291                     Violence Gekiga David no Hoshi                                             Hentai
12292  Violence Gekiga Shin David no Hoshi: Inma Dens...                                             Hentai
12293                   Yasuji no Pornorama: Yacchimae!!                                             Hentai

[12294 rows x 2 columns]

In [ ]:
df.memory_usage()

Index         128
anime_id    98352
name        98352
genre       98352
type        98352
episodes    98352
rating      98352
members     98352
dtype: int64

In [ ]:
df['genre'].nbytes

98352

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [ ]:
df.genre.unique()

array(['Drama, Romance, School, Supernatural',
       'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
       'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
       ..., 'Hentai, Sports', 'Drama, Romance, School, Yuri',
       'Hentai, Slice of Life'], dtype=object)

In [ ]:
np.unique(df['anime_id'])

array([    1,     5,     6, ..., 34522, 34525, 34527])

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/Datasets/anime.csv",index_col = 'type')
cat = df2.loc["Movie"]
cat

       anime_id  ... members
type             ...
Movie     32281  ...  200630
Movie     15335  ...   72534
Movie     28851  ...  102733
Movie       199  ...  466254
Movie     12355  ...  226193
...         ...  ...     ...
Movie      3038  ...    1394
Movie      2755  ...    1709
Movie     11141  ...     337
Movie     20007  ...     129
Movie     26081  ...     142

[2348 rows x 6 columns]

In [ ]:
df3 = pd.read_csv("/content/drive/MyDrive/Datasets/anime.csv", na_values=['??','###'])
rows = df3.loc[2:5]
rows

   anime_id                                               name  ... rating members
2     28977                                           Gintama°  ...   9.25  114262
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351

[4 rows x 7 columns]

In [ ]:
rows = df3.loc[:,'type']
rows

0        Movie
1           TV
2           TV
3           TV
4           TV
         ...
12289      OVA
12290      OVA
12291      OVA
12292      OVA
12293    Movie
Name: type, Length: 12294, dtype: object

In [ ]:
rows = df.loc[3:10,'type']
rows

3        TV
4        TV
5        TV
6        TV
7       OVA
8     Movie
9        TV
10       TV
Name: type, dtype: object

In [ ]:
rows = df.loc[2:10,['type','genre']]
rows

     type                                              genre
2      TV  Action, Comedy, Historical, Parody, Samurai, S...
3      TV                                   Sci-Fi, Thriller
4      TV  Action, Comedy, Historical, Parody, Samurai, S...
5      TV             Comedy, Drama, School, Shounen, Sports
6      TV            Action, Adventure, Shounen, Super Power
7     OVA                     Drama, Military, Sci-Fi, Space
8   Movie  Action, Comedy, Historical, Parody, Samurai, S...
9      TV  Action, Comedy, Historical, Parody, Samurai, S...
10     TV  Drama, Fantasy, Romance, Slice of Life, Supern...

In [ ]:
rows = df.loc[[10,11,15,21,23,25,26,29,41],'genre':'episodes']
rows

                                                genre   type episodes
10  Drama, Fantasy, Romance, Slice of Life, Supern...     TV       24
11                             Drama, School, Shounen  Movie        1
15                     Adventure, Drama, Supernatural  Movie        1
21  Action, Drama, Historical, Martial Arts, Roman...    OVA        4
23  Action, Comedy, Parody, Sci-Fi, Seinen, Super ...     TV       12
25  Comedy, Mystery, Romance, School, Sci-Fi, Supe...  Movie        1
26    Comedy, Mystery, Romance, Supernatural, Vampire     TV       26
29           Action, Adventure, Comedy, Mecha, Sci-Fi     TV       27
41                                     Comedy, Parody    OVA        2

In [ ]:
row_3 = df.iloc[3]
row_3

anime_id                9253
name             Steins;Gate
genre       Sci-Fi, Thriller
type                      TV
episodes                  24
rating                  9.17
members               673572
Name: 3, dtype: object

In [ ]:
row_3 = df.iloc[3:10]
row_3

   anime_id                                               name  ... rating members
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351
6     11061                             Hunter x Hunter (2011)  ...   9.13  425855
7       820                               Ginga Eiyuu Densetsu  ...   9.11   80679
8     15335  Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...  ...   9.10   72534
9     15417                           Gintama&#039;: Enchousen  ...   9.11   81109

[7 rows x 7 columns]

In [ ]:
rows = df.iloc[-2,1:3]
rows

name     Violence Gekiga Shin David no Hoshi: Inma Dens...
genre                                               Hentai
Name: 12292, dtype: object

In [ ]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [ ]:
df.dtypes.value_counts()

object     4
int64      2
float64    1
dtype: int64

In [ ]:
data_fil = df.select_dtypes(include=[float,int])
data_fil

       anime_id  rating  members
0         32281    9.37   200630
1          5114    9.26   793665
2         28977    9.25   114262
3          9253    9.17   673572
4          9969    9.16   151266
...         ...     ...      ...
12289      9316    4.15      211
12290      5543    4.28      183
12291      5621    4.88      219
12292      6133    4.98      175
12293     26081    5.46      142

[12294 rows x 3 columns]

In [ ]:
data_fil = df.select_dtypes(exclude=[object])
data_fil

       anime_id  rating  members
0         32281    9.37   200630
1          5114    9.26   793665
2         28977    9.25   114262
3          9253    9.17   673572
4          9969    9.16   151266
...         ...     ...      ...
12289      9316    4.15      211
12290      5543    4.28      183
12291      5621    4.88      219
12292      6133    4.98      175
12293     26081    5.46      142

[12294 rows x 3 columns]

In [ ]:
df.count()

anime_id    12294
name        12294
genre       12232
type        12269
episodes    12294
rating      12064
members     12294
dtype: int64

In [ ]:
df.max()

anime_id      34527
name              ◯
episodes    Unknown
rating           10
members     1013917
dtype: object

In [ ]:
df.min()

anime_id                1
name        &quot;0&quot;
episodes                1
rating               1.67
members                 5
dtype: object

In [ ]:
df.mean()

anime_id    14058.221653
rating          6.473902
members     18071.338864
dtype: float64

In [ ]:
df.std()

anime_id    11455.294701
rating          1.026746
members     54820.676925
dtype: float64

In [ ]:
df.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
df.describe(include=[float,int])

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
df.describe(include=[object])

                           name   genre   type episodes
count                     12294   12232  12269    12294
unique                    12292    3264      6      187
top     Shi Wan Ge Leng Xiaohua  Hentai     TV        1
freq                          2     823   3787     5677

In [ ]:
df.describe(exclude=[object])

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
df.describe(include='all')

            anime_id                     name  ...        rating       members
count   12294.000000                    12294  ...  12064.000000  1.229400e+04
unique           NaN                    12292  ...           NaN           NaN
top              NaN  Shi Wan Ge Leng Xiaohua  ...           NaN           NaN
freq             NaN                        2  ...           NaN           NaN
mean    14058.221653                      NaN  ...      6.473902  1.807134e+04
std     11455.294701                      NaN  ...      1.026746  5.482068e+04
min         1.000000                      NaN  ...      1.670000  5.000000e+00
25%      3484.250000                      NaN  ...      5.880000  2.250000e+02
50%     10260.500000                      NaN  ...      6.570000  1.550000e+03
75%     24794.500000                      NaN  ...      7.180000  9.437000e+03
max     34527.000000                      NaN  ...     10.000000  1.013917e+06

[11 rows x 7 columns]

In [ ]:
df['rating'] = df['rating'].astype(float)
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
df.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [ ]:
df.dropna(inplace=True)
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
df['rating'].replace(7,8,inplace=True)
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
df4 = df[df.rating>6]
df4

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
11835     30543  ...    1943
11836      2375  ...    1176
11837      1353  ...    1480
12251     33960  ...     161
12264     32195  ...     254

[8552 rows x 7 columns]

In [ ]:
df5= df.copy()
df5

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
mean_val = df5['rating'].mean()
mean_val

6.486419239410847

In [ ]:
med_val = df5['rating'].median()
med_val

6.57

In [ ]:
mode_val = df5['rating'].mode()
mode_val

0    6.0
1    8.0
dtype: float64

In [ ]:
val = df.value_counts()
val

anime_id  name                                                       genre                                            type     episodes  rating  members
34519     Mobile Suit Gakuen: G-Reco Koushien                        Comedy                                           Special  9         5.67    94         1
5168      Hairy Tale                                                 Historical, Samurai                              Special  1         6.42    3510       1
5192      Kiku-chan to Ookami                                        Adventure, Historical                            Special  1         6.35    142        1
5191      Trouble Evocation                                          Drama, Hentai, Romance                           OVA      2         5.99    679        1
5190      Mujintou Monogatari XX                                     Hentai                                           OVA      4         5.50    499        1
                                                                                                                                                           ..
19029     Yuyushiki: Nyanyashiki                                     Comedy                                           Special  6         6.32    6805       1
19023     Wake Up, Girls!                                            Drama, Music                                     TV       12        7.04    29679      1
19021     Takanashi Rikka Kai: Chuunibyou demo Koi ga Shitai! Movie  Comedy, Drama, Romance, School, Slice of Life    Movie    1         7.37    34272      1
19009     Puyo Puyo: Madou Monogatari                                Comedy, Fantasy                                  OVA      1         6.80    151        1
1         Cowboy Bebop                                               Action, Adventure, Comedy, Drama, Sci-Fi, Space  TV       26        8.82    486824     1
Length: 12017, dtype: int64

In [ ]:
val2 = df['rating'].value_counts()
val2

6.00    141
8.00    141
6.50     90
6.25     84
5.00     76
       ...
9.33      1
3.35      1
3.14      1
8.66      1
9.04      1
Name: rating, Length: 597, dtype: int64

In [ ]:
mean_val = df['rating'].mean()
df['rating'] = df['rating'].fillna(mean_val)
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
df.insert(2,'average_length_of_each_episode(in_seconds)',0)
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 8 columns]

In [ ]:
def convert(val):
  return val
df['average_length_of_each_episode(in_seconds)'] = convert(1500)
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 8 columns]

# **2. Download a data set (xlsx file). Practice all the (30 functions) listed in the 'panda tutorial sheet'; which is uploaded in ms-team class-room materials folder.**

In [ ]:
path2 = "/content/drive/MyDrive/Datasets/anime.xlsx"
dff = pd.read_excel(path2)

dff.describe

<bound method NDFrame.describe of        anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]>

In [ ]:
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
dff.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [ ]:
dff.tail()

       anime_id  ... members
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[5 rows x 7 columns]

In [ ]:
dff.index

RangeIndex(start=0, stop=12294, step=1)

In [ ]:
dff.columns

Index(['anime_id', 'name', 'genre', 'type', 'episodes', 'rating', 'members'], dtype='object')

In [ ]:
dff.size

86058

In [ ]:
dff.shape

(12294, 7)

In [ ]:
dff.ndim

2

In [ ]:
dff['name']

0                                           Kimi no Na wa.
1                         Fullmetal Alchemist: Brotherhood
2                                                 Gintama°
3                                              Steins;Gate
4                                            Gintama&#039;
                               ...
12289         Toushindai My Lover: Minami tai Mecha-Minami
12290                                          Under World
12291                       Violence Gekiga David no Hoshi
12292    Violence Gekiga Shin David no Hoshi: Inma Dens...
12293                     Yasuji no Pornorama: Yacchimae!!
Name: name, Length: 12294, dtype: object

In [ ]:
dff.genre

0                     Drama, Romance, School, Supernatural
1        Action, Adventure, Drama, Fantasy, Magic, Mili...
2        Action, Comedy, Historical, Parody, Samurai, S...
3                                         Sci-Fi, Thriller
4        Action, Comedy, Historical, Parody, Samurai, S...
                               ...
12289                                               Hentai
12290                                               Hentai
12291                                               Hentai
12292                                               Hentai
12293                                               Hentai
Name: genre, Length: 12294, dtype: object

In [ ]:
dff[['name','genre']]

                                                    name                                              genre
0                                         Kimi no Na wa.               Drama, Romance, School, Supernatural
1                       Fullmetal Alchemist: Brotherhood  Action, Adventure, Drama, Fantasy, Magic, Mili...
2                                               Gintama°  Action, Comedy, Historical, Parody, Samurai, S...
3                                            Steins;Gate                                   Sci-Fi, Thriller
4                                          Gintama&#039;  Action, Comedy, Historical, Parody, Samurai, S...
...                                                  ...                                                ...
12289       Toushindai My Lover: Minami tai Mecha-Minami                                             Hentai
12290                                        Under World                                             Hentai
12291                     Violence Gekiga David no Hoshi                                             Hentai
12292  Violence Gekiga Shin David no Hoshi: Inma Dens...                                             Hentai
12293                   Yasuji no Pornorama: Yacchimae!!                                             Hentai

[12294 rows x 2 columns]

In [ ]:
dff.memory_usage()

Index         128
anime_id    98352
name        98352
genre       98352
type        98352
episodes    98352
rating      98352
members     98352
dtype: int64

In [ ]:
dff['name'].nbytes

98352

In [ ]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12294 entries, 0 to 12293
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   anime_id  12294 non-null  int64
 1   name      12294 non-null  object
 2   genre     12232 non-null  object
 3   type      12269 non-null  object
 4   episodes  12294 non-null  object
 5   rating    12064 non-null  float64
 6   members   12294 non-null  int64
dtypes: float64(1), int64(2), object(4)
memory usage: 672.5+ KB

In [ ]:
dff.genre.unique()

array(['Drama, Romance, School, Supernatural',
       'Action, Adventure, Drama, Fantasy, Magic, Military, Shounen',
       'Action, Comedy, Historical, Parody, Samurai, Sci-Fi, Shounen',
       ..., 'Hentai, Sports', 'Drama, Romance, School, Yuri',
       'Hentai, Slice of Life'], dtype=object)

In [ ]:
np.unique(dff['anime_id'])

array([    1,     5,     6, ..., 34522, 34525, 34527])

In [ ]:
dff2 = pd.read_excel("/content/drive/MyDrive/Datasets/anime.xlsx",index_col = 'type')
cat = dff2.loc["TV"]
cat

      anime_id  ... members
type            ...
TV        5114  ...  793665
TV       28977  ...  114262
TV        9253  ...  673572
TV        9969  ...  151266
TV       32935  ...   93351
...        ...  ...     ...
TV       34522  ...     381
TV       34467  ...    1838
TV       32615  ...    6652
TV       34284  ...    2593
TV       34445  ...    4439

[3787 rows x 6 columns]

In [ ]:
dff3 = pd.read_excel("/content/drive/MyDrive/Datasets/anime.xlsx", na_values=['??','###'])
rows = dff3.loc[2:5]
rows

   anime_id                                               name  ... rating members
2     28977                                           Gintama°  ...   9.25  114262
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351

[4 rows x 7 columns]

In [ ]:
rows = dff3.loc[:,'type']
rows

0        Movie
1           TV
2           TV
3           TV
4           TV
         ...
12289      OVA
12290      OVA
12291      OVA
12292      OVA
12293    Movie
Name: type, Length: 12294, dtype: object

In [ ]:
rows = dff.loc[3:10,'type']
rows

3        TV
4        TV
5        TV
6        TV
7       OVA
8     Movie
9        TV
10       TV
Name: type, dtype: object

In [ ]:
rows = dff.loc[2:10,['genre','rating']]
rows

                                                genre  rating
2   Action, Comedy, Historical, Parody, Samurai, S...    9.25
3                                    Sci-Fi, Thriller    9.17
4   Action, Comedy, Historical, Parody, Samurai, S...    9.16
5              Comedy, Drama, School, Shounen, Sports    9.15
6             Action, Adventure, Shounen, Super Power    9.13
7                      Drama, Military, Sci-Fi, Space    9.11
8   Action, Comedy, Historical, Parody, Samurai, S...    9.10
9   Action, Comedy, Historical, Parody, Samurai, S...    9.11
10  Drama, Fantasy, Romance, Slice of Life, Supern...    9.06

In [ ]:
rows = dff.loc[[10,11,15,21,23,25,26,29,41],'genre':'rating']
rows

                                                genre   type episodes  rating
10  Drama, Fantasy, Romance, Slice of Life, Supern...     TV       24    9.06
11                             Drama, School, Shounen  Movie        1    9.05
15                     Adventure, Drama, Supernatural  Movie        1    8.93
21  Action, Drama, Historical, Martial Arts, Roman...    OVA        4    8.83
23  Action, Comedy, Parody, Sci-Fi, Seinen, Super ...     TV       12    8.82
25  Comedy, Mystery, Romance, School, Sci-Fi, Supe...  Movie        1    8.81
26    Comedy, Mystery, Romance, Supernatural, Vampire     TV       26    8.80
29           Action, Adventure, Comedy, Mecha, Sci-Fi     TV       27    8.78
41                                     Comedy, Parody    OVA        2    8.69

In [ ]:
row_3 = dff.iloc[3]
row_3

anime_id                9253
name             Steins;Gate
genre       Sci-Fi, Thriller
type                      TV
episodes                  24
rating                  9.17
members               673572
Name: 3, dtype: object

In [ ]:
row_3 = dff.iloc[3:10]
row_3

   anime_id                                               name  ... rating members
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351
6     11061                             Hunter x Hunter (2011)  ...   9.13  425855
7       820                               Ginga Eiyuu Densetsu  ...   9.11   80679
8     15335  Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...  ...   9.10   72534
9     15417                           Gintama&#039;: Enchousen  ...   9.11   81109

[7 rows x 7 columns]

In [ ]:
rows = dff.iloc[-2,1:3]
rows

name     Violence Gekiga Shin David no Hoshi: Inma Dens...
genre                                               Hentai
Name: 12292, dtype: object

In [ ]:
dff.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [ ]:
dff.dtypes.value_counts()

object     4
int64      2
float64    1
dtype: int64

In [ ]:
data_fil = dff.select_dtypes(include=[float,int])
data_fil

       anime_id  rating  members
0         32281    9.37   200630
1          5114    9.26   793665
2         28977    9.25   114262
3          9253    9.17   673572
4          9969    9.16   151266
...         ...     ...      ...
12289      9316    4.15      211
12290      5543    4.28      183
12291      5621    4.88      219
12292      6133    4.98      175
12293     26081    5.46      142

[12294 rows x 3 columns]

In [ ]:
data_fil = dff.select_dtypes(exclude=[object])
data_fil

       anime_id  rating  members
0         32281    9.37   200630
1          5114    9.26   793665
2         28977    9.25   114262
3          9253    9.17   673572
4          9969    9.16   151266
...         ...     ...      ...
12289      9316    4.15      211
12290      5543    4.28      183
12291      5621    4.88      219
12292      6133    4.98      175
12293     26081    5.46      142

[12294 rows x 3 columns]

In [ ]:
dff.count()

anime_id    12294
name        12294
genre       12232
type        12269
episodes    12294
rating      12064
members     12294
dtype: int64

In [ ]:
dff.max()

anime_id      34527.0
rating           10.0
members     1013917.0
dtype: float64

In [ ]:
dff.min()

anime_id    1.00
rating      1.67
members     5.00
dtype: float64

In [ ]:
dff.mean()

anime_id    14058.221653
rating          6.473902
members     18071.338864
dtype: float64

In [ ]:
dff.std()

anime_id    11455.294701
rating          1.026746
members     54820.676925
dtype: float64

In [ ]:
dff.describe()

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
dff.describe(include=[float,int])

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
dff.describe(include=[object])

                           name   genre   type  episodes
count                     12294   12232  12269     12294
unique                    12292    3264      6       187
top     Shi Wan Ge Leng Xiaohua  Hentai     TV         1
freq                          2     823   3787      5677

In [ ]:
dff.describe(exclude=[object])

           anime_id        rating       members
count  12294.000000  12064.000000  1.229400e+04
mean   14058.221653      6.473902  1.807134e+04
std    11455.294701      1.026746  5.482068e+04
min        1.000000      1.670000  5.000000e+00
25%     3484.250000      5.880000  2.250000e+02
50%    10260.500000      6.570000  1.550000e+03
75%    24794.500000      7.180000  9.437000e+03
max    34527.000000     10.000000  1.013917e+06

In [ ]:
dff.describe(include='all')

            anime_id                     name  ...        rating       members
count   12294.000000                    12294  ...  12064.000000  1.229400e+04
unique           NaN                    12292  ...           NaN           NaN
top              NaN  Shi Wan Ge Leng Xiaohua  ...           NaN           NaN
freq             NaN                        2  ...           NaN           NaN
mean    14058.221653                      NaN  ...      6.473902  1.807134e+04
std     11455.294701                      NaN  ...      1.026746  5.482068e+04
min         1.000000                      NaN  ...      1.670000  5.000000e+00
25%      3484.250000                      NaN  ...      5.880000  2.250000e+02
50%     10260.500000                      NaN  ...      6.570000  1.550000e+03
75%     24794.500000                      NaN  ...      7.180000  9.437000e+03
max     34527.000000                      NaN  ...     10.000000  1.013917e+06

[11 rows x 7 columns]

In [ ]:
dff['rating'] = dff['rating'].astype(float)
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
dff.isnull().sum()

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [ ]:
dff.dropna(inplace=True)
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
dff['rating'].replace(6,7,inplace=True)
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
dff4 = dff[dff.rating>8]
dff4

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
10765     32230  ...      89
10786     26313  ...      53
10793     28557  ...      40
10847     26097  ...      53
12251     33960  ...     161

[582 rows x 7 columns]

In [ ]:
dff5= dff.copy()
dff5

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
mean_val = dff5['rating'].mean()
mean_val

6.48999750353667

In [ ]:
med_val = dff5['rating'].median()
med_val

6.6

In [ ]:
mode_val = dff5['rating'].mode()
mode_val

0    7.0
dtype: float64

In [ ]:
val = dff.value_counts()
val

anime_id  name                                                       genre                                            type     episodes  rating  members
34519     Mobile Suit Gakuen: G-Reco Koushien                        Comedy                                           Special  9         5.67    94         1
5168      Hairy Tale                                                 Historical, Samurai                              Special  1         6.42    3510       1
5192      Kiku-chan to Ookami                                        Adventure, Historical                            Special  1         6.35    142        1
5191      Trouble Evocation                                          Drama, Hentai, Romance                           OVA      2         5.99    679        1
5190      Mujintou Monogatari XX                                     Hentai                                           OVA      4         5.50    499        1
                                                                                                                                                           ..
19029     Yuyushiki: Nyanyashiki                                     Comedy                                           Special  6         6.32    6805       1
19023     Wake Up, Girls!                                            Drama, Music                                     TV       12        7.04    29679      1
19021     Takanashi Rikka Kai: Chuunibyou demo Koi ga Shitai! Movie  Comedy, Drama, Romance, School, Slice of Life    Movie    1         7.37    34272      1
19009     Puyo Puyo: Madou Monogatari                                Comedy, Fantasy                                  OVA      1         6.80    151        1
1         Cowboy Bebop                                               Action, Adventure, Comedy, Drama, Sci-Fi, Space  TV       26        8.82    486824     1
Length: 12017, dtype: int64

In [ ]:
val2 = dff['rating'].value_counts()
val2

7.00    239
6.50     90
6.25     84
5.00     76
6.75     72
       ...
9.33      1
3.35      1
3.14      1
8.66      1
9.04      1
Name: rating, Length: 597, dtype: int64

In [ ]:
mean_val = dff['rating'].mean()
dff['rating'] = dff['rating'].fillna(mean_val)
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
dff.insert(2,'average_length_of_each_episode(in_seconds)',0)
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 8 columns]

In [ ]:
def convert(val):
  return val
dff['average_length_of_each_episode(in_seconds)'] = convert(1500)
dff

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 8 columns]

# **3. Download a data set 'data'. Create a dataframe called 'data' for the data set with n rows and m columns.From 'data'.**
### **(a) Using the 'data',Write a code to create four different dataframes 'data1', 'data2', 'data3', 'data4' of sizes ([n/2] x m), ((n - [n/2]) x m), (n x [m/2]), (n x (m - [m/2]))**

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Datasets/anime.csv')
data1 = data.loc[:np.floor(df.shape[0]/2)-1]
data1

      anime_id  ... members
0        32281  ...  200630
1         5114  ...  793665
2        28977  ...  114262
3         9253  ...  673572
4         9969  ...  151266
...        ...  ...     ...
6003      3020  ...     259
6004     11005  ...   20589
6005      1427  ...    2697
6006      5723  ...    1350
6007      1139  ...     356

[6008 rows x 7 columns]

In [ ]:
data1.shape

(6008, 7)

In [ ]:
data2 = data.loc[df.shape[0]-df.shape[0]/2:]
data2

       anime_id  ... members
6009        838  ...   18031
6010       2083  ...    1186
6011      14519  ...     256
6012        439  ...    5070
6013      14583  ...    3291
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[6285 rows x 7 columns]

In [ ]:
data2.shape

(6285, 7)

In [ ]:
data3 = data.iloc[:, :int(df.shape[1]/2)]
data3

       anime_id  ...   type
0         32281  ...  Movie
1          5114  ...     TV
2         28977  ...     TV
3          9253  ...     TV
4          9969  ...     TV
...         ...  ...    ...
12289      9316  ...    OVA
12290      5543  ...    OVA
12291      5621  ...    OVA
12292      6133  ...    OVA
12293     26081  ...  Movie

[12294 rows x 4 columns]

In [ ]:
data3.shape

(12294, 4)

In [ ]:
data4 = data.iloc[:, int(df.shape[1]-df.shape[1]/2):]
data4

      episodes  rating  members
0            1    9.37   200630
1           64    9.26   793665
2           51    9.25   114262
3           24    9.17   673572
4           51    9.16   151266
...        ...     ...      ...
12289        1    4.15      211
12290        1    4.28      183
12291        4    4.88      219
12292        1    4.98      175
12293        1    5.46      142

[12294 rows x 3 columns]

In [ ]:
data4.shape

(12294, 3)

### **(b) Using the 'data1', 'data2', 'data3'. 'data4', Write a code to print the original dataframe 'data'.**

In [ ]:
frames1 = [data1, data2]
data5 = pd.concat(frames1)
data5

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12293 rows x 7 columns]

In [ ]:
data5.shape

(12293, 7)

In [ ]:
frames2 = [data3, data4]
data6 = pd.concat(frames2, axis=1)
data6

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
data6.shape

(12294, 7)

# **4. Download a data set which has only the numerical values. Create a dataframe D of size n x m for that dataset, with n rows and m columns.**

In [ ]:
D = pd.read_csv('/content/drive/MyDrive/Datasets/nyc.csv')
D

     hotel_id  host_id  ...  calculated_host_listings_count  availability_365
0        2539     2787  ...                               6               365
1        2595     2845  ...                               2               355
2        3647     4632  ...                               1               365
3        3831     4869  ...                               1               194
4        5022     7192  ...                               1                 0
..        ...      ...  ...                             ...               ...
544    199312   973438  ...                               1               254
545    200645   933378  ...                               1                 0
546    200955   568325  ...                               1                46
547    201992   988350  ...                               1               328
548    202273   918087  ...                               3                 0

[549 rows x 10 columns]

### **(a) Write a code to form a data frame 'DLOWER' of size n x m where (i; j)th, entry, where i < j is all zero and the other entries are as in the dataframe D. Here i refers to the integer index of the row and j refers to the integer index of the columns. Note that 0 < i < n and 0 < i < m.**

In [ ]:
DLOWER = pd.read_csv('/content/drive/MyDrive/Datasets/nyc.csv')
for i in range(0, D.shape[0]):
    for j in range(0, D.shape[1]):
        if(i<j):
            DLOWER.iat[i, j] = 0;
        else:
            DLOWER.iat[i, j] = D.iat[i, j];

DLOWER.head()

   hotel_id  host_id  ...  calculated_host_listings_count  availability_365
0      2539        0  ...                               0                 0
1      2595     2845  ...                               0                 0
2      3647     4632  ...                               0                 0
3      3831     4869  ...                               0                 0
4      5022     7192  ...                               0                 0

[5 rows x 10 columns]

### **(b) Write a code to form a dataframe 'DUPPER ' of size n x m where (i; j)th, entry, where i > j is all zero and the other entries are as in the dataframe D. Here i refers to the integer index of the row and j refers to the integer index of the columns. Note that 0 < i < n and 0 < i < m.**

In [ ]:
DUPPER = pd.read_csv('/content/drive/MyDrive/Datasets/nyc.csv')
for i in range(0, D.shape[0]):
    for j in range(0, D.shape[1]):
        if(i>j):
            DUPPER.iat[i, j] = 0;
        else:
            DUPPER.iat[i, j] = D.iat[i, j];

DUPPER.head()

   hotel_id  host_id  ...  calculated_host_listings_count  availability_365
0      2539     2787  ...                               6               365
1         0     2845  ...                               2               355
2         0        0  ...                               1               365
3         0        0  ...                               1               194
4         0        0  ...                               1                 0

[5 rows x 10 columns]

### **(c) Write a code to obtain the dataframe D by manipulating the dataframes DUPPER and DLOWER.**

In [ ]:
for i in range(0,DUPPER.shape[0]):
  for j in range(0,DUPPER.shape[1]):
    if(i>j):
      DUPPER.iat[i,j] = DLOWER.iat[i,j]
DUPPER

     hotel_id  host_id  ...  calculated_host_listings_count  availability_365
0        2539     2787  ...                               6               365
1        2595     2845  ...                               2               355
2        3647     4632  ...                               1               365
3        3831     4869  ...                               1               194
4        5022     7192  ...                               1                 0
..        ...      ...  ...                             ...               ...
544    199312   973438  ...                               1               254
545    200645   933378  ...                               1                 0
546    200955   568325  ...                               1                46
547    201992   988350  ...                               1               328
548    202273   918087  ...                               3                 0

[549 rows x 10 columns]

In [ ]:
for i in range(0,DLOWER.shape[0]):
  for j in range(0,DLOWER.shape[1]):
    if(i<j):
      DLOWER.iat[i,j] = DUPPER.iat[i,j]
DLOWER

     hotel_id  host_id  ...  calculated_host_listings_count  availability_365
0        2539     2787  ...                               6               365
1        2595     2845  ...                               2               355
2        3647     4632  ...                               1               365
3        3831     4869  ...                               1               194
4        5022     7192  ...                               1                 0
..        ...      ...  ...                             ...               ...
544    199312   973438  ...                               1               254
545    200645   933378  ...                               1                 0
546    200955   568325  ...                               1                46
547    201992   988350  ...                               1               328
548    202273   918087  ...                               3                 0

[549 rows x 10 columns]

# **5. Create a dataframe 'dats' for a data set. Using 'dats', create a dataframe called 'dats-transpose'where (i; j)th entry of 'dats' is same as that of (j; i)th. Here i is the index of the rows and j is the index of the columns.**

In [ ]:
dats = pd.read_csv("/content/drive/MyDrive/Datasets/anime.csv")
dats_transpose = dats.transpose()
dats_transpose

                                         0      ...                             12293
anime_id                                 32281  ...                             26081
name                            Kimi no Na wa.  ...  Yasuji no Pornorama: Yacchimae!!
genre     Drama, Romance, School, Supernatural  ...                            Hentai
type                                     Movie  ...                             Movie
episodes                                     1  ...                                 1
rating                                    9.37  ...                              5.46
members                                 200630  ...                               142

[7 rows x 12294 columns]

# **6. Create a dataframe D for a datset. Slice D into four rectangular slices D1, D2, D3, D4 such that D1 is fully contained within D2, D2 is fully contained within D3, D3 is fully contained within D4.**

In [ ]:
D = pd.read_csv("/content/drive/MyDrive/Datasets/anime.csv")
D

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
D1 = D.iloc[:100,:3]
D1

    anime_id  ...                                              genre
0      32281  ...               Drama, Romance, School, Supernatural
1       5114  ...  Action, Adventure, Drama, Fantasy, Magic, Mili...
2      28977  ...  Action, Comedy, Historical, Parody, Samurai, S...
3       9253  ...                                   Sci-Fi, Thriller
4       9969  ...  Action, Comedy, Historical, Parody, Samurai, S...
..       ...  ...                                                ...
95     14719  ...  Action, Adventure, Shounen, Supernatural, Vampire
96      9756  ...              Drama, Magic, Psychological, Thriller
97     10165  ...                      Comedy, School, Slice of Life
98     13601  ...              Action, Police, Psychological, Sci-Fi
99     22789  ...                              Comedy, Slice of Life

[100 rows x 3 columns]

In [ ]:
D2 = D.iloc[:1000, :4]
D2

     anime_id  ...     type
0       32281  ...    Movie
1        5114  ...       TV
2       28977  ...       TV
3        9253  ...       TV
4        9969  ...       TV
..        ...  ...      ...
995       132  ...       TV
996     14467  ...       TV
997      8532  ...      ONA
998      1606  ...       TV
999      9136  ...  Special

[1000 rows x 4 columns]

In [ ]:
D3 = D.iloc[:10000, :5]
D3

      anime_id                                 name  ...   type episodes
0        32281                       Kimi no Na wa.  ...  Movie        1
1         5114     Fullmetal Alchemist: Brotherhood  ...     TV       64
2        28977                             Gintama°  ...     TV       51
3         9253                          Steins;Gate  ...     TV       24
4         9969                        Gintama&#039;  ...     TV       51
...        ...                                  ...  ...    ...      ...
9995     22623  Pochacco no Ninjin Hata wa Oosawagi  ...    OVA        1
9996     22617        Pochacco no Wakuwaku Birthday  ...    OVA        1
9997     17613             Poka Poka Mori no Rascal  ...     TV       52
9998     32621         Pokopon no Yukai na Saiyuuki  ...  Movie        1
9999     22577  Pom Pom Purin no Kitakaze to Taiyou  ...    OVA        1

[10000 rows x 5 columns]

In [ ]:
D4 = D.iloc[:12000, :6]
D4

       anime_id                              name  ... episodes rating
0         32281                    Kimi no Na wa.  ...        1   9.37
1          5114  Fullmetal Alchemist: Brotherhood  ...       64   9.26
2         28977                          Gintama°  ...       51   9.25
3          9253                       Steins;Gate  ...       24   9.17
4          9969                     Gintama&#039;  ...       51   9.16
...         ...                               ...  ...      ...    ...
11995      1402                   Princess Memory  ...        2   5.76
11996     10101         Shoujo Senki Brain Jacker  ...        2   5.76
11997      4606                     Tsuki Kagerou  ...        3   5.76
11998     24743            Yakin Byoutou Specials  ...        2   5.76
11999      3645                   Yunyun☆Paradise  ...        1   5.76

[12000 rows x 6 columns]

# **7. Create a dataframe 'da' for a dataset. Transform 'da' into another dataframe 'da1' by replacing the entries of 'da' as follows.**

*   ### **If the entries in the column are numerical, first 25% of the entries in each column are replaced by the mean of the values in that column, second 25% of the entries in each column are replaced by the ((maximum value of that column), third 25% of the entries in each column are replaced by the (minimum value of that column) and the last, 25% of the entries in each column are replaced by the ((mean value of that column)/2).**
*   ### **If the entries in the column are non-numerical, last 50% of the entries in each are replaced by the entry that occurs least in that column, first 50% of the entries in each are replaced by the entry that has highest frequency in that column.**
*   ### **If the entries in a column has both numerical or non-numerical entries replace all the non-numerical entries with zeros**

In [ ]:
da = pd.read_csv("/content/drive/MyDrive/Datasets/anime.csv")
da1 = da.sample(n=1000)
da1

       anime_id  ... members
7378      12789  ...     186
9699      33727  ...      90
8252      20109  ...     137
11716      1632  ...    2787
4642      10118  ...     378
...         ...  ...     ...
9874       9338  ...     131
4056      11177  ...    1921
9514       9334  ...     183
9845      26197  ...      68
3351       2578  ...     656

[1000 rows x 7 columns]

In [ ]:
da1.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [ ]:
for j in range(0, int(da.shape[1])):
    for i in range(0, int(da1.shape[0]/2)):
        if(pd.isna(da1.iloc[i, j])):
            da1.iloc[i, j] = da1.iloc[:, j].mode
    for i in range(int(da1.shape[0]/2), int(da1.shape[0])):
        if(pd.isna(da1.iloc[i, j])):
            da1.iloc[i, j] = da1.iloc[:, j].value_counts().index[-1]

In [ ]:
for col in da1.select_dtypes(include=['object']).columns:
    da1[col].loc[0:int(da1.shape[0])] = 0

KeyError: ignored

# **8. Create a dataframe 'de' for a dataset.**
### **Slice a portion of 'de' which is in the shape of a square. Call that slice as 'desquare'.**
### **If 'desquare' contains non-numerical items, replace those entries by zero.**
### **In 'desquare', calculate difference berween the sum of the entries in the left diagonal and the sum of the entries in the right diagonal ('diagonal difference').**
### **Replace all the diagonal entries of 'desquare' (both the right diagonal and the left diagonal)by the 'diagonal difference'.**
### **Embed the slice 'desquare' in the its (from where it is sliced from 'de' original place in 'de' and output the dataframe 'de'.**

In [ ]:
de = pd.read_csv('/content/drive/MyDrive/Datasets/anime.csv')
de

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
desquare = de.iloc[0:7,:7]
desquare.shape

(7, 7)

In [ ]:
desquare

   anime_id                                               name  ... rating members
0     32281                                     Kimi no Na wa.  ...   9.37  200630
1      5114                   Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                                           Gintama°  ...   9.25  114262
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351
6     11061                             Hunter x Hunter (2011)  ...   9.13  425855

[7 rows x 7 columns]

In [ ]:
desquare.isna().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [ ]:
desquare.fillna(0, inplace=True)

In [ ]:
desquare.isna().sum()

anime_id    0
name        0
genre       0
type        0
episodes    0
rating      0
members     0
dtype: int64

In [ ]:
for col in desquare.select_dtypes(include=['object']).columns:
    desquare[col].loc[0:int(desquare.shape[0])] = 0
desquare

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

   anime_id name genre type episodes  rating  members
0     32281    0     0    0        0    9.37   200630
1      5114    0     0    0        0    9.26   793665
2     28977    0     0    0        0    9.25   114262
3      9253    0     0    0        0    9.17   673572
4      9969    0     0    0        0    9.16   151266
5     32935    0     0    0        0    9.15    93351
6     11061    0     0    0        0    9.13   425855

# **9. Create a dataframe of a dataset 'df'. Slice a portion of 'df' which is in the shape of a square, whose size equals the number of columns of 'df'. If 'dfslice' contains non-numerical items, replace those entries by zero. Considering the slice 'dfslice' as a square matrix, compute the inverse of 'dfslice' and output the `inversedslice'.**

In [ ]:
df =  pd.read_csv('/content/drive/MyDrive/Datasets/anime.csv')
df

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
dfslice = df.iloc[0:7,:7]
dfslice

   anime_id                                               name  ... rating members
0     32281                                     Kimi no Na wa.  ...   9.37  200630
1      5114                   Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                                           Gintama°  ...   9.25  114262
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351
6     11061                             Hunter x Hunter (2011)  ...   9.13  425855

[7 rows x 7 columns]

In [ ]:
for col in dfslice.columns:    
    dfslice[col] =pd.to_numeric(dfslice[col], errors ='coerce').fillna(0).astype('float64')
dfslice

   anime_id  name  genre  type  episodes  rating   members
0   32281.0   0.0    0.0   0.0       1.0    9.37  200630.0
1    5114.0   0.0    0.0   0.0      64.0    9.26  793665.0
2   28977.0   0.0    0.0   0.0      51.0    9.25  114262.0
3    9253.0   0.0    0.0   0.0      24.0    9.17  673572.0
4    9969.0   0.0    0.0   0.0      51.0    9.16  151266.0
5   32935.0   0.0    0.0   0.0      10.0    9.15   93351.0
6   11061.0   0.0    0.0   0.0     148.0    9.13  425855.0

In [ ]:
inversedslice = pd.DataFrame(np.linalg.pinv(dfslice.values), dfslice.columns, dfslice.index)
inversedslice

                     0             1  ...             5             6
anime_id  1.782733e-05  1.544508e-06  ...  1.448188e-05  1.319328e-05
name     -1.779564e-13 -1.627619e-13  ... -6.715290e-14 -4.648968e-13
genre     1.819387e-17  1.635859e-17  ...  6.912434e-18  4.439220e-17
type     -8.167715e-18 -7.453694e-18  ... -3.084902e-18 -2.115232e-17
episodes -1.586815e-03 -3.461012e-04  ... -7.825923e-04  8.160028e-03
rating   -2.457356e-02 -2.239606e-02  ... -9.286169e-03 -6.331329e-02
members   3.420326e-07  9.662554e-07  ... -6.678187e-09  2.134885e-07

[7 rows x 7 columns]

## **10. Create a dataframe of a datset 'dg'. Create a new dataframe `newdg' from 'dg' that .**
### **Sort all the numerical columns of 'dg' in the ascending order.**
### **Sort all the non-numerical columns (english words) of 'dg' in the alphabetical order.**
### **Drop the columns which has null entries and other special symbols.**

In [ ]:
dg =  pd.read_csv('/content/drive/MyDrive/Datasets/anime.csv')
dg

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
newdg = dg.copy()
newdg

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12294 rows x 7 columns]

In [ ]:
newdg.dropna(inplace=True)
newdg

       anime_id  ... members
0         32281  ...  200630
1          5114  ...  793665
2         28977  ...  114262
3          9253  ...  673572
4          9969  ...  151266
...         ...  ...     ...
12289      9316  ...     211
12290      5543  ...     183
12291      5621  ...     219
12292      6133  ...     175
12293     26081  ...     142

[12017 rows x 7 columns]

In [ ]:
newdg.sort_values(by='name')

      anime_id  ... members
7749     20707  ...    1170
8059     25627  ...     113
3156      7669  ...   14351
1436      8481  ...   18013
1199      6408  ...   40984
...        ...  ...     ...
484        793  ...   41547
215       6864  ...   36353
341       4918  ...   40401
8185     29708  ...      66
7993     31687  ...     448

[12017 rows x 7 columns]